.header__link:hover {
  border-bottom: 5px solid #ea720b;
}

html {
  font-size: 17px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  background-color: #232B32;
  color: #eee9e2;
  font-family: 'Kufam', cursive;
  letter-spacing: 1px;
  line-height: 1.5rem;
}

a {
  color: #eee9e2;
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

h2, h3 {
  position: relative;
  z-index: -1;
}

h2::before, h3::before {
  content: '';
  background-color: #ea720b;
  width: 149px;
  height: 17px;
  position: absolute;
  bottom: -5px;
  left: -44px;
  z-index: -1;
  top: auto;
  -webkit-transition: top .5s;
  transition: top .5s;
}

h3 {
  font-size: 2rem;
  font-weight: 500;
  margin-top: 0;
}

h4 {
  font-weight: 500;
  margin: 0;
}

li {
  margin-bottom: 1.2rem;
}

figure {
  margin: 0;
}

img {
  max-width: 100%;
  background-color: #eee9e2;
}

::-webkit-scrollbar {
  width: 1.1rem;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(238, 233, 226, 0.3);
          box-shadow: inset 0 0 6px rgba(238, 233, 226, 0.3);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #eee9e2;
}

::-webkit-scrollbar-thumb:active {
  background-color: #ea720b;
}

.header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: inherit;
  z-index: 2;
  border-bottom: 5px solid #eee9e2;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
}

.header__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-width: 500px;
}

.header__item {
  margin-bottom: 0;
}

.header__link {
  height: 1.7rem;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 2rem 4rem 5.5rem;
}

.nav,
.aside-contacts__list {
  position: -webkit-sticky;
  position: sticky;
  top: 18%;
}

.nav__highlight {
  display: inline;
  background-color: #ea720b;
  width: 80px;
  height: 10px;
  position: absolute;
  bottom: 0;
  left: -26px;
  z-index: -1;
  top: 5%;
  -webkit-transition: top .5s;
  transition: top .5s;
}

.aside-contacts__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.aside-contacts__link {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.aside-contacts__link:hover {
  color: #ea720b;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.about__title {
  font-size: 2.5rem;
}

.about__title::before {
  width: 100%;
  left: -46px;
}

.about__subtitle {
  font-size: 1.6rem;
}

.about__photo {
  width: 27%;
  border-radius: 50%;
  border: 5px solid #eee9e2;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.main__container {
  margin: 0 auto;
  max-width: 1265px;
}

.main section:not(:first-child) {
  padding-top: 7rem;
}

.general__list {
  list-style: square;
}

.general span {
  font-weight: 600;
}

.general__languages {
  list-style: circle;
}

.general__languages-item {
  margin: 0 0 0 2rem;
}

.skills__list {
  list-style: square;
  -webkit-columns: 3;
          columns: 3;
}

.skills__list-item {
  max-width: 283px;
}

.items__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.items__wrapper .items__list:first-child {
  margin-right: 12rem;
}

.items__list {
  width: 442px;
}

.items__title {
  margin-bottom: 1rem;
  text-align: center;
}

.items__img {
  margin-right: 1rem;
  -o-object-fit: contain;
     object-fit: contain;
  border: 5px solid;
}

.items__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 3rem;
}

.items__technologies {
  font-size: .7rem;
  pointer-events: none;
  min-width: 38%;
}

.items__technologies-list {
  list-style: disc;
}

.items__technologies-item {
  margin: 0 0 0 1rem;
}

.items__inner {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.items__inner:hover .items__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.items__icons {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.items__icons-list {
  background-color: #232B32;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 50%;
  border-radius: 2rem;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 71px;
}

.items__icons-item {
  margin-bottom: 0;
}

.items__icons-link {
  font-size: 2rem;
}

.items__icons-link:hover {
  color: #ea720b;
}

.certification__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.certification__item {
  max-width: 480px;
}

.education__item {
  margin: 2rem 0;
}

.education__title {
  margin-bottom: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 1730px) {
  .main__container {
    max-width: 1123px;
  }
  .items__list {
    width: 400px;
  }
  .certification__item {
    max-width: 415px;
  }
}

@media (max-width: 1610px) {
  .main__container {
    max-width: 953px;
  }
  .items__list {
    width: 327px;
  }
}

@media (max-width: 1435px) {
  .wrapper {
    padding: 2rem 3rem 5.5rem;
  }
  .main__container {
    max-width: 892px;
  }
  .items__list {
    width: 290px;
  }
  .items__wrapper .items__list:first-child {
    margin-right: 10rem;
  }
  .certification__item {
    max-width: 373px;
  }
}

@media (max-width: 1370px) {
  .items__list {
    width: 268px;
  }
  .main__container {
    max-width: 799px;
  }
  .items__wrapper .items__list:first-child {
    margin-right: 9rem;
  }
}

@media (max-width: 1230px) {
  .items__wrapper {
    display: block;
  }
  .items__list {
    width: 80%;
    margin-right: 0;
  }
  .items__wrapper .items__list:first-child {
    margin-right: 0;
  }
  .main__container {
    max-width: 603px;
  }
  .certification__item {
    max-width: 100%;
  }
}

@media (max-width: 1080px) {
  html {
    font-size: 13px;
  }
  h2::before, h3::before {
    height: 15px;
    left: -18px;
    width: 103px;
  }
  .about__title::before {
    left: -38px;
  }
  .header__contacts {
    min-width: 350px;
  }
  .aside-nav {
    width: 79px;
  }
  .nav__highlight {
    display: none;
  }
  .main__container {
    max-width: 545px;
  }
  .main section:not(:first-child) {
    padding-top: 4rem;
  }
  .skills__list {
    -webkit-columns: 2;
            columns: 2;
  }
}

@media (max-width: 900px) {
  .header__contacts {
    min-width: 356px;
  }
  .wrapper {
    padding: 4rem 2rem 5.5rem;
  }
  .aside-contacts {
    position: fixed;
    width: 25%;
    top: 59px;
    background-color: inherit;
    z-index: 5;
    left: 0;
  }
  .aside-contacts__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding-left: 1rem;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .aside-contacts__item {
    margin-bottom: 0;
  }
  .nav,
  .aside-contacts__list {
    top: 0;
    background-color: #232B32;
    z-index: 5;
    height: 40px;
  }
  .aside-nav {
    width: 75%;
    position: fixed;
    top: 59px;
    right: 0;
    z-index: 1;
  }
  .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 40px;
  }
  .nav__item {
    margin-bottom: 0;
  }
  .items__technologies {
    min-width: 25%;
  }
}

@media (max-width: 650px) {
  html {
    font-size: 11px;
  }
  .header__container {
    min-height: 64px;
  }
  .header__contacts {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    min-width: 100px;
    min-height: 44px;
  }
  .main__container {
    max-width: 434px;
  }
  .about {
    padding-top: 3rem;
  }
  .about__photo {
    width: 145px;
  }
  .about__title::before {
    left: -32px;
  }
  .aside-contacts {
    top: 69px;
    width: 100%;
  }
  .aside-contacts__list {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .aside-nav {
    width: 100%;
    top: 103px;
  }
}

@media (max-width: 520px) {
  .wrapper {
    padding: 4rem 3rem 5.5rem;
  }
  .nav {
    top: 107px;
  }
  .nav__list {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0 1rem;
  }
  .nav__item {
    max-width: 14%;
  }
  .about {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about__title::before {
    left: -5px;
  }
  .about__info {
    text-align: center;
  }
  .about__photo {
    width: 100px;
  }
}

@media (max-width: 450px) {
  .header__container {
    padding: 0 1rem;
  }
  .burger-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    cursor: pointer;
    position: absolute;
    z-index: 6;
    left: 13px;
    top: 9px;
  }
  .burger-wrapper__burger {
    width: 22px;
    position: relative;
    cursor: pointer;
  }
  .burger-wrapper__burger span {
    width: 100%;
    height: 3px;
    position: absolute;
    background-color: #eee9e2;
    border-radius: 5px;
    -webkit-transition: .5s;
    transition: .5s;
    left: 0;
  }
  .burger-wrapper__burger span:nth-child(1) {
    top: 0;
    -webkit-transform-origin: left center;
            transform-origin: left center;
  }
  .burger-wrapper__burger span:nth-child(2) {
    top: 8px;
  }
  .burger-wrapper__burger span:nth-child(3) {
    top: 16px;
    -webkit-transform-origin: left center;
            transform-origin: left center;
  }
  .burger-wrapper__burger.open span:nth-child(1) {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    left: 8px;
  }
  .burger-wrapper__burger.open span:nth-child(2) {
    opacity: 0;
    width: 0;
  }
  .burger-wrapper__burger.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: 16px;
    left: 8px;
  }
  .aside-nav {
    top: 109px;
  }
  .nav {
    height: 106px;
    display: none;
  }
  .nav__list {
    padding: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .nav__item {
    max-width: 100%;
    margin-bottom: .5rem;
  }
  .nav.open {
    display: block;
  }
  .skills__list {
    -webkit-columns: 2;
            columns: 2;
  }
  .items__list {
    width: 70%;
  }
}

@media (max-width: 350px) {
  h1 {
    font-size: 1.8rem;
  }
}
/*# sourceMappingURL=style.css.map */