$bg-color: #232B32;
$text-color: #eee9e2;
$accent-color: #ea720b;

%border-hover {
    border-bottom: 5px solid $accent-color;
}

@mixin text-highlight($width: 164px, $height: 25px, $bottom: -7px, $left: -56px, $top: auto) {
    background-color: $accent-color;
    width: $width;
    height: $height;
    position: absolute;
    bottom: $bottom;
    left: $left;
    z-index: -1;
    top: $top;
    transition: top .5s;
}

html {
    font-size: 20px;
}

body {
    background-color: $bg-color;
    color: $text-color;
    font-family: 'Kufam', cursive;
    letter-spacing: 1px;
    line-height: 1.5rem;
}

a {
    color: $text-color;
    text-decoration: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

h2, h3 {
    position: relative;

    &::before {
        content: '';
        @include text-highlight();
    }
}

h3 {
    font-size: 2rem;
    font-weight: 500;
    margin-top: 0;
}

h4 {
    font-weight: 500;
    margin: 0;
}

li {
    margin-bottom: 1.2rem;
}

figure {
    margin: 0;
}

img {
    max-width: 100%;
}

.header {
    position: sticky;
    top: 0;
    grid-area: header;
    background-color: inherit;
    z-index: 2;
    border-bottom: 5px solid $text-color;

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1200px;
        margin: 0 auto;
        padding: 1rem;
    }

    &__contacts {
        display: flex;
        justify-content: space-between;
        min-width: 45%;

        &-link:hover {
            @extend %border-hover;
        }
    }
}

.wrapper {
    display: flex;
    padding: 2rem 4rem;
}

.nav,
.contacts-list {
    position: sticky;
    top: 18%;
}

.aside-nav {
    .nav__highlight {
        @include text-highlight(97px, 10px, 0, -34px, 14px);
    }
}

.contacts-list {
    &__list {
        display: flex;
        flex-direction: column;
    }

    &__link {
        font-size: 2rem;
        margin-bottom: 1rem;

        &:hover {
            color: $accent-color;
        }
    }
}

.about {
    display: flex;
    align-items: center;

    &__info {
        margin-right: 15rem;
    }

    &__title {
        font-size: 2.5rem;

        &::before {
            width: 100%;
            left: -52px;
        }
    }

    &__subtitle {
        font-size: 1.6rem;
    }

    &__photo {
        width: 27%;
        border-radius: 50%;
        border: 5px solid $text-color;
    }
}

.main {
    flex: 1;

    &__container {
        margin: 0 auto;
        max-width: 1265px;
    }

    section:not(:first-child) {
        padding-top: 7rem;
    }
}

.general {
    &__list {
        list-style: square;
    }

    span {
        font-weight: 600;
    }

    &__languages {
        list-style: circle;

        &-item {
            margin: 0 0 .5rem 2rem;
        }
    }
}

.skills {
    &__list {
        list-style: square;
        columns: 3;

        &-item {
            max-width: 283px;
        }
    }
}

.items {
    &__wrapper {
        display: flex;

        .items__list:nth-child(1) {
            margin-right: 12rem;
        }
    }

    &__list {
        max-width: 35%;
    }

    &__title {
        margin-bottom: 1rem;
        text-align: center;
    }

    &__img {
        margin-right: 1rem;
    }

    &__item {
        display: flex;
        margin-bottom: 3rem;
    }

    &__technologies {
        font-size: .7rem;
        pointer-events: none;
        min-width: 38%;

        &-list {
            list-style: disc;
        }

        &-item {
            margin: 0 0 0 1rem;
        }
    }

    &__inner {
        position: relative;
        display: flex;
        border: 5px solid $text-color;

        &:hover .items__icons {
            display: flex;
        }
    }

    &__icons {
        display: none;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        align-items: center;
        justify-content: center;
        background-color: rgba(0, 0, 0, 0.5);

        &-list {
            background-color: $bg-color;
            display: flex;
            min-width: 50%;
            border-radius: 2rem;
            justify-content: space-evenly;
            align-items: center;
            min-height: 71px;
        }

        &-item {
            margin-bottom: 0;
        }

        &-link {
            font-size: 2rem;

            &:hover {
                color: $accent-color;
            }
        }
    }
}

.education {
    &__title {
        margin-bottom: 2rem;
        display: flex;
        justify-content: space-between;
    }
}